# Table of Contents:
- [Variables and types](#Variables-and-types)
    - [Variables key concepts](#Variables-key-concepts)
- [Transformations](#Transformations)
- [Built in Data Types](#Built-in-Data-Types)
    - [Numerics](#Numerics)
    - [Strings](#Text-sequence-type)
    - [Sequences](#Sequences)
    - [Mappings](#Mappings---dict) (dictionary)
    - [Set](#Set)
    - [Exceptions](#Exceptions)
- [Mutable vs Immutable Objects](#Mutable-vs-Immutable-Objects)

# Variables and types

In python, every object has an **identity**, a **type** and a **value**
- **Identity**: defined at creation (obj’s address in memory). It can be known by invoking `id(x)`;
- **Type**: defines possible values/operations for the obj;
- **Value**: it can be *mutable* or *immutable*, depending on the fact it can be changed or not, according to the type. Changes to mutable objects can be done *in place*, i.e. without altering its identity.

In [ ]:
x = 2
y = 4
z = x + y
print(z) # print statement

**Note:** No type declaration is required in Python: **"If it walks like a duck, and it quacks like a duck, then we would call it a duck”**
- Type info is associated with objects, not with referencing variables!
- This is “duck typing”, widely used in scripting languages.

The type of a variable is not statically known (e.g. in its declaration as in Java, C, C++). **The type of a variable depends on its current value.**

In [ ]:
my_var = 12.2
print(type(my_var))
my_var = 1
print(type(my_var))

In [ ]:
my_var1 = 10 # plain assignment
my_var1

In [ ]:
my_var1 += 10 # augmented assignment: allowed only with already existing targets
my_var1

**Note**: the character '#' in python denotes the start of a comment. In the first code cell above we have used it for enriching the last statement with its description.
* Comments are ignored by the computer processing your code
* They are intended to help future programmers understand the code, including future you

In [ ]:
# I'm a single-line comment (starting with the '#' character)

## Variables key concepts

- **acting on a variable means acting on its stored data**

In [ ]:
# define some variables
number = 5
text = "Hello"

In [ ]:
print(number * text)

In [ ]:
print(text.upper())

- **variables can capture returned values**

In [ ]:
answer = 5 + number ** 2
answer

# Transformations

Transformations come in three major flavors
- Operators
- Functions
- Methods

Each transformation has several key properties
* It may take some input data, called the argument(s)
* It may return some output data

### Operators

* Operators are usually represented by symbols (sometimes short words)
* An operator's arguments are arranged around the symbol

In [ ]:
# the addition operator takes two numbers as input and returns their sum
1 + 2

### Functions
- A function is identified by a name
- The function is called by adding `()` after the name
- The function's arguments are provided ("passed") inside the `()`s

We will discuss function in details in the next notebooks. Let's just discuss some examples.

In [ ]:
# min( ) returns the item with the lowest value
min(4, 2, -1, 7, -20)

`print( )` is a very important function: It writes its arguments to the screen (making it human-readable.
- Jupyter shows us `return` values (the last one of each cell, by default) as `Out[]` blocks
- In scripted code, only the computer sees these and print helps us monitor its behaviour

In [ ]:
print("I am a string with a result:", 23 * 2, 'a', end = '\t')
print("I am a string with a result:", 23 * 2, 'a')

### Methods

- Methods are functions that belong to data of a certain type.
- They tend to perform functions that are specifically relevant to that data.
- Methods can be identified by their `.` (dot) syntax.

In [ ]:
# is_integer() returns True if the float instance is finite with integral value, and False otherwise
my_var1 = 1024.0
my_var2 = 1024.1
my_var1.is_integer(), my_var2.is_integer()

# Built-in Data Types

### Numerics
  - Integers
  - Floating-Point numbers
  - Complex Numbers

In [ ]:
x = 1.0 # assignment statement
print(type(x)) 
print(id(x))
z = 33
print(type(z))
print(id(z))

In [ ]:
type(z + x), z + x

 ### Casting

In [ ]:
x = 2.5
print(x, type(x))

In [ ]:
x = int(x)
print(x, type(x))

In [ ]:
x = bool(x)
print(x, type(x))

### Arithmetic Operators

`+`, `-`, `*`, `/`, `//` (integer division), `**` (power)

In [ ]:
3.0 / 2.2

In [ ]:
3.0 // 2.2

### Comparison operators

---

>Meaning | Symbol
>--- | ---
>Less than: | <
>Greater than	|	>
>Less than or equal |	<=
>Greater than or equal |	>=
>Equality	|	==
>Inequality	|	!=
>Identity	|	is

In [ ]:
# objects identical?
l1 = l2 = [1,2]

In [ ]:
# identity check
l1 is l2

In [ ]:
# equality check
l1 == l2

In [ ]:
print(id(l1))
print(id(l2))

In [ ]:
# objects identical?
l1 = [1, 2]
l2 = [1, 2]

In [ ]:
# identity check
l1 is l2

In [ ]:
# equality check
l1 == l2

In [ ]:
print(id(l1))
print(id(l2))

### Text sequence type
  - **strings**: you can define a string by enclosing it with double quotes (") or single quotes (')

In [ ]:
a = "foobar"
print(type(a))
print(len(a))  # returns the length of the string

How to format strings in python? see [here](https://pyformat.info/) and [here](https://www.python.org/dev/peps/pep-0498/)
*   `f-string`: a concise, readable way to include the value of Python expressions inside strings.

In [ ]:
accuracy = 97.9999
error_rate = 0.03

In [ ]:
# f-string
print(f'accuracy: {accuracy} \t error_rate: {error_rate}')

In [ ]:
# f-string: specify decimal precision
print(f'accuracy: {accuracy:.2} \t error_rate: {error_rate:.2}')

In [ ]:
print("str1", 1.0, False, -1)  # The print statements converts all arguments to strings

**Slicing and indexing** operation on string. Zero-based indexing and negative numbers:

![indexing](https://developers.google.com/edu/python/images/hello.png)

Read more about slicing syntax [here](https://python-reference.readthedocs.io/en/latest/docs/brackets/slicing.html)

Read more about text processing [here](https://python-reference.readthedocs.io/en/latest/docs/str/index.html)

In [ ]:
word = 'Hello'

In [ ]:
word[1]     # python is 0-based indexing

In [ ]:
word[0:3]   # python is 0-based indexing

In [ ]:
word[:3]    # you can omit the first index when it is 0

In [ ]:
word[2:]    # you can omit the second index when you mean the end of the string

In [ ]:
word[2:5]

In [ ]:
word[2:100] # too big index: truncated to the string length

There are several **string methods**. To name but a few:

In [ ]:
a = "foobar"

In [ ]:
a.startswith('foo'), a.endswith('bar')

In [ ]:
a.upper()              # returns the uppercase version of the string

In [ ]:
"FooBar".lower()

In [ ]:
"FooBar".replace("Foo", "Ju")

**Strings are immutable: they can't be modified!**

In [ ]:
a[0] = 'J'

We can also read string from the keyboard, using the command `input`:

In [ ]:
a = input("Insert integer: ")

In [ ]:
print(a + a)

In [ ]:
'A' * 100

### Sequences
  - **lists**: mutable sequences, typically (but not exclusively) used to store collections of homogeneous items 
  - **tuples**: immutable sequences, typically  (but not exclusively) used to store collections of heterogeneous data
  - **range objects**: immutable sequences of numbers, commonly used for looping a specific number of times in for loops.

#### Example about lists: mutable sequences
Lists are written within square brackets [ ]

In [ ]:
s = [1, 2, 3]
t = [4, 'a']
k = list('ciao')
x = 2
y = 1
print('s =', s)
print('t =', t)
print('k =', k)
print('x =', x)
print('y =', y)

Some of the most common **sequence methods** (valid for lists, tuples, strings)

In [ ]:
# IN: True if an item of s is equal to x, else False
print('x in s:', x in s)

In [ ]:
# NOT IN: False if an item of s is equal to x, else True
print('x not in t:', x not in t)

In [ ]:
# +: concatenation of s and t
print('s + t:', s + t)

In [ ]:
# len(): length of s
print('len(s):', len(s))

In [ ]:
# INDEXING: i-th item of s, origin 0
print('s[2]:', s[2])

In [ ]:
# SLICING:s[i:j] slice of s from i to j
print('s[1:]:', s[1:])

In [ ]:
# SLICING:s[i:j:k] slice of s from i to j with step k
print('s[0:len(s):2]:', s[0:len(s):2])

In [ ]:
# MAX: largest item of s
print('max(s):', max(s))

In [ ]:
nl = ["a","b","c"]
print('min(nl):', min(nl))

In [ ]:
# INDEX:index of the first occurrence of y in s
print('s.index(y):', s.index(y))

In [ ]:
# COUNT: total number of occurrences of y in s
print('s.count(y):', s.count(y))

Some of the most common **list methods.**

In [ ]:
new_list = [1, 2, 3]

In [ ]:
id(new_list)

In [ ]:
print(f'Input: \t{new_list}')
print('append an element')
new_list.append(4)            # adds a single element to the end of the list. 
                              # Common error: does not return the new list, just modifies the original.
print(new_list)

In [ ]:
id(new_list)

In [ ]:
print(f'Input: \t{new_list}')
print('insert an element')
new_list.insert(2, 6)       # inserts the element at the given index, shifting elements to the right.
print(new_list)

In [ ]:
print(f'Input: \t{new_list}')
print('extend with another list')
new_list.extend([7, 8])     # adds the elements in the second list to the end of our new_list.
print(new_list)

In [ ]:
print(f'Input: \t{new_list}')
print('remove an element')
new_list.remove(7)          # searches for the first instance of the given element and removes it (throws ValueError if not present)
print(new_list)

In [ ]:
print(f'Input: \t{new_list}')
print('reverse the list')
new_list.reverse()            # reverses the list in place (does not return it)
print(new_list)

In [ ]:
print(f'Input: \t{new_list}')
print('pop the element at the given index')
a = new_list.pop(0)           # removes and returns the element at the given index. Returns the rightmost element if index is omitted 
print(a)
print(new_list)

How to sort a list?

In [ ]:
print(f'Input ID: \t{id(new_list)}')
print(f'Input: \t{new_list}')

In [ ]:
print('sort the list with "sorted"')
another_list = sorted(new_list)   # sorts the list NOT in place 
print(f'(With sorted(list)) ID: \t{id(another_list)}')
print(f'(With sorted(list)): \t{another_list}')

In [ ]:
print('sort the list with "sort" method')
new_list.sort()                   # sorts the list in place (does not return it and does not alter its identity)
print(f'(With list.sort()) ID: \t{id(new_list)}')
print(f'(With list.sort()): \t{new_list}')

In [ ]:
# new_list = new_list.sort() # what's wrong here?
# print(new_list)

#### Example about tuples: immutable sequences
Tuples are written within round brackets ```(a,b)```

In [ ]:
firstprimes = (2, 3, 5, 7)
print(firstprimes)
print(firstprimes[1])

In [ ]:
firstprimes.append(9) # uncomment to see well formatted error!

In [ ]:
del firstprimes[0] # uncomment to see well formatted error!

We can **unpack** a tuple by assigning it to a comma-separated list of variables:

In [ ]:
point = (10, 20)
x, y = point

print("x =", x)
print("y =", y)

**range**: The range type represents an immutable sequence of numbers and is commonly used for looping a specific number of times in ```for``` loops (next notebook)

In [ ]:
range(100000) # ... but super efficient in terms of memory

In [ ]:
list(range(5)) # equivalent to a list (or a tuple) ...

### Mappings - ```dict```


  - A mapping object maps *hashable values* to arbitrary objects. 
  A value is hashable if its hash value never changes during its lifetime and can be compared to other objects. Mappings are mutable objects. 
  - In practice, keys must be unique, immutable data (e.g., strings).
  - There is currently only one standard mapping type, the **dictionary**.
  
The contents of a dict can be written as a series of key:value pairs within braces { }, 

An example of  **dict** definition is:
```
dict = {key1:value1, key2:value2, ... }.
```

In [ ]:
another_dict = {}

In [ ]:
my_dict = {'name': 'Bob', 'age':32}
my_dict

In [ ]:
# access value by key
my_dict['name']

In [ ]:
# looking up a non-existant key raises an error
my_dict['email']  ## raises KeyError

In [ ]:
my_dict.get('name')

In [ ]:
my_dict.get('email')  ## Return None or "default" value (instead of KeyError)

In [ ]:
my_dict.get('email', 'default@email.com')  ## Return None or "default" value (instead of KeyError)

We can use the same indexing logic to update or define dictionary values

In [ ]:
# add new key-value pairs
my_dict['email'] = ['bob@gmail.com']
my_dict

In [ ]:
# update the value of an existing key
my_dict['age'] = 42
my_dict

In [ ]:
# update the value of an existing key
my_dict['email'].append('bob_2@gmail.com')
my_dict

The objects returned by dict.keys(), dict.values() and dict.items() are view objects. They provide a dynamic view on the dictionary’s entries, which means that when the dictionary changes, the view reflects these changes. We can iterate over the view object using the *for loop syntax*: we will see it in a while.

Preliminary examples of **for loops**.

In [ ]:
# iterating over keys
for key in my_dict:
    print(key)

In [ ]:
# iterating over keys
for key in my_dict.keys():
    print(key)

In [ ]:
my_dict.values()

In [ ]:
# iterating over values
for value in my_dict.values(): 
    print(value)

In [ ]:
# iterating over items
for a,b in my_dict.items(): 
    print(f'{a} ... {b}')

### Set
- A set object is an unordered collection of distinct hashable objects. Dictionary keys and set members use hashable objects.
- Common uses of sets include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.
- Set elements are written within braces { }

In [ ]:
A = {0, 1, 2, 3}
B = {3, 2, 0, 3, 1, 1, 3, 0}
print(A)
print(B)
print(A == B)

In [ ]:
listC = [1,2,3,4,5,1,2,4] # list 
setC = set(listC)
print(listC)
print(setC)
print(list(setC))

In [ ]:
print('A', A)
print('C', setC)
print('UNION', A.union(setC))
print('INTERSECTION', A.intersection(setC))

In [ ]:
A - setC

## Exceptions

In Python errors are managed with a special language construct called "Exceptions". When errors occur exceptions can be raised, which interrupts the normal program flow and fallback to somewhere else in the code where the closest try-except statement is defined.

To generate an exception we can use the `raise` statement, which takes an argument that must be an instance of the class `BaseException` or a class derived from it.

In [ ]:
raise Exception("description of the error")

A typical use of exceptions is to abort functions when some error condition occurs, for example:

```python
def my_function(arguments):

    if not verify(arguments):
        raise Exception("Invalid arguments")

    # rest of the code goes here
```

To gracefully catch errors that are generated by functions and class methods, or by the Python interpreter itself, use the try and except statements:

```python
try:
    # normal code goes here
except [Exception]:
    # code for error handling goes here
    # this code is not executed unless the code
    # above generated an error
```

For example:

In [ ]:
try:
    print("test")
    # generate an error: the variable test is not defined
    print(test)
except NameError:
    print("Caught an exception")

In [ ]:
try:
    # generate an error: the variable test is not defined
    print(test)
except Exception as e:
    print(f"Caught an exception: {e}")

### Many others data types:
 - classes,
 - instances, 
 - boolean values
 - ...

# Mutable vs Immutable Objects

- Objects of built-in types like **list**, **set**, **dict** are **mutable**. Custom classes are generally mutable.
- Objects of built-in types like **int**, **float**, **bool**, **str**, **tuple** are **immutable**.


*Mutable* and *immutable* objects behave in a different way: changes to mutable objects can be done *in place*, i.e. without altering its identity.

**more about it**: take a look at [this nice tool](http://www.pythontutor.com/live.html#mode=edit)!

- Whenever a variable references an IMMUTABLE value, a new object has to be created if a different value has to be stored.

In [ ]:
x = 'foo'
y = x
print(x)
print(y)
print(id(x))
print(id(y))

y += 'bar' # augmented assignment

In [ ]:
print(x)
print(y)
print(id(x))
print(id(y))

In [ ]:
# example with tuples
x = (1,2,3)
y = x
print(x)
print(y)
print(id(x))
print(id(y))

y += (4, 5, 6)

In [ ]:
print(x)
print(y)
print(id(x))
print(id(y))

- Whenever a new variable is assigned another variable that references a MUTABLE value (like a list), the new variable will reference the same object

In [ ]:
x = [1, 2, 3]
y = x
print(x)
print(y)
print(id(x))
print(id(y))

y.append(4)

In [ ]:
print(y)
print(x)
print(id(x))
print(id(y))

In [ ]:
x = {'a' : 1, 'b' : 2}
y = x
print(x)
print(y)

y['c'] = 3

In [ ]:
print(x)
print(y)